body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("bg.jpg");
   justify-content: center;
}

.input-fields{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.hint, .user-input{
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  justify-content: center;
}

.message{
  display:grid;
  margin-left: 10px;
  justify-content: center;
  color:yellow;
}

.button{
  display: block;
  margin:10px;
  padding: 10px 24px;
  justify-content: center;
}

.inputbox{
  width:25px;
}

